In [2]:
#Import necessary libraries
import pandas as pd
import sqlite3
import os

In [3]:
#Importing the NYC Airbnb Open Data CSV file into a pandas DataFrame, data is precleaned from source.
nyc_airbnb_data = pd.read_csv('listings.csv')

In [ ]:
#Importing the NYC Rent Prices CSV file into a pandas DataFrame, time is in wide format and needs to be transformed.
nyc_rent_prices = pd.read_csv('Zip_zori_uc_sfrcondomfr_sm_month.csv')

In [ ]:

#Separating the date columns from the non-date columns in the rent prices DataFrame.
cols = nyc_rent_prices.columns
usable_cols = cols[0:9]
dates_cols = cols[9:]
print(dates_cols)

Index(['2015-01-31', '2015-02-28', '2015-03-31', '2015-04-30', '2015-05-31',
       '2015-06-30', '2015-07-31', '2015-08-31', '2015-09-30', '2015-10-31',
       ...
       '2025-02-28', '2025-03-31', '2025-04-30', '2025-05-31', '2025-06-30',
       '2025-07-31', '2025-08-31', '2025-09-30', '2025-10-31', '2025-11-30'],
      dtype='object', length=131)

In [ ]:
#Melting the rent prices DataFrame to transform it from wide format to long format.
nyc_rent_prices = pd.melt(nyc_rent_prices, id_vars=usable_cols, value_vars=dates_cols, var_name='date', value_name='rent_price')

In [34]:
#Checking the data types of each column in the rent prices DataFrame. Date column is an object format and needs to be converted to a datetime format.
nyc_rent_prices.dtypes

RegionID          int64
SizeRank          int64
RegionName        int64
RegionType       object
StateName        object
State            object
City             object
Metro            object
CountyName       object
date          period[M]
rent_price      float64
dtype: object

In [ ]:
#Reformat as datetime

nyc_rent_prices['date'] = pd.to_datetime(nyc_rent_prices['date'], format = '%Y-%m-%d')

#Keep only year and month in date column

nyc_rent_prices['date'] = nyc_rent_prices['date'].dt.to_period('M')

In [37]:
print(usable_cols)

Index(['RegionID', 'SizeRank', 'RegionName', 'RegionType', 'StateName',
       'State', 'City', 'Metro', 'CountyName'],
      dtype='object')